.DS_Store
__pycache__/
*.pyc
.venv/
runtime/
prefix/
logs/
downloads/
backups/
dist/
*.exe
*.dll
*.dylib
*.tar.xz
*.zip
*.sav
GameUserSettings.ini
loginusers.vdf
localconfig.vdf
ssfn*
*.prop
*.ttarch2
*.dmp
*.log
*.vdf
